.title {
  font-size: 64px;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.frame {
  color: #776e65;
  /* width: 480px;
  height: 480px; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  /* border-radius: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-auto-rows: "120px";
  column-gap: 12px;
  row-gap: 12px;
  border: 12px solid rgb(174, 174, 174);
  border-radius: 10px;
  background-color: #bbada0;
}

.clear {
  color: rgb(89, 194, 103);
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  color: rgb(187, 109, 197);
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}